[Unit]
Description=Netkit Startup
After=netkit-mount.service netkit-startup-phase1.service
Before=getty@tty0.service getty@tty1.service

[Service]
Type=oneshot
ExecStart=/etc/netkit/netkit-phase2 start
StandardOutput=journal+console
TimeoutSec=300

[Install]
WantedBy=multi-user.target
