[Unit]
Description=Netkit Startup
After=netkit-mount.service

[Service]
Type=oneshot
ExecStart=/etc/netkit/netkit-phase1 start
StandardOutput=journal+console
WorkingDirectory=/root/

[Install]
WantedBy=multi-user.target
