[Unit]
Description=Netkit Mount Startup
Before=networking.target systemd-modules-load.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/etc/netkit/netkit-mount-modules-dir start
StandardOutput=journal+console 

[Install]
WantedBy=multi-user.target
